.letra-div{
    font: size 28px;
    color:aqua
}
.images{
 width: 20px            
}
.letra-div{
    font-size: 28px;
    color:aliceblue

}
.images{
 width: 20px


}
.letra-div{
    font-size: 20px;    
    color:aquamarine
}
.letra-div{
    font-size: 20px;
    color: azure;

} 
.letra-div{
   font-size: 20px; 
   color: black;
}
.image{
    width:20px
}